.content-sections{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.section-button{
    width: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
}