<!DOCTYPE html>
<html lang="es">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/estilo.css">
<link rel="stylesheet" href="/css/infonete.css">
<head>
    <meta charset="utf-8">
    <title>INFONETE | PW2</title>
</head>


<div class="content-general">
    <div class="content-main">
        <div class="content-top">
            <div class="content-icons">
                <img class="img-icono" src="/img/clima.png" alt="clima" width="214" height="55">
                <img class="img-icono" src="/img/transito.png" alt="transito" width="50.5" height="55">
                <img class="img-icono" src="/img/dolar.png" alt="dolar" width="50.5" height="55">
                <img class="img-icono" src="/img/tapa.png" alt="tapa" width="50.5" height="55">
                <img class="img-icono" src="/img/fecha.png" alt="fecha" width="50.5" height="55">
            </div>
            <div class="content-carrito">
                <img class="imgCarrito" src="/img/carrito.png" alt="carrito" width="50.5" height="55">
            </div>
        </div>
        <div class="content-down">
            <div class="content-h1">
                <h1>InfoNete s.a.</h1>
            </div>
            <div class="content-buttons">
                {{#usuario}}
                    {{correo}} | <a class="ing-button" href="/infonete/login/salir">SALIR</a>
                {{/usuario}}
                {{^usuario}}
                    <a class="ing-button" href="/infonete/login">INGRESAR</a>
                {{/usuario}}
                <button type="submit">SUSCRIBITE</button>
            </div>
        </div>
    </div>


    <div class="content-navbar">
        <div class="topnav">
            <div class="nav-buttons">
                <a class="active" href="index.php">ULTIMAS NOTICIAS</a>
                <a href="secciones.php">SECCIONES</a>
                <a href="nacional.php">NACIONAL</a>
                <a href="internacional.php">INTERNACIONAL</a>
            </div>
            <div class="content-form">
                <form action="#" method="">
                    <input type="text" id="buscar" placeholder="Buscar" name="buscar">
                </form>
            </div>
        </div>
    </div>